

@font-face {
  font-family: "LightFont";
  src: url("./assets/fonts/SourceCodePro-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "BlackFont";
    src: url("./assets/fonts/SourceCodePro-Black.ttf") format("truetype");
    }

html{
  font-family: LightFont, Helvetica, Arial, sans-serif ;
  font-size: 1vw;
}
h1{
  font-family: BlackFont, Helvetica, Arial, sans-serif ;
  font-size: 2rem;
}